<ion-header>
  <ion-toolbar>
    <ion-title>falecimentos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  [routerLink]="['']">
    <img src="https://i.ibb.co/Pz3Y6wV/twaithes.jpg" height="160" width="1000">
    <ion-card-header>
      <ion-card-title>Morre Idoso de 80 anos em Guariba</ion-card-title>
    </ion-card-header>
  
<!-- </ion-router-link> -->
    <ion-card-content>
      Segundo fontes, seu José de 80 anos morreu de parada respiratória,
      o idoso sofria de problemas de coração.
    </ion-card-content>
  </ion-card>
</ion-content>
